

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.card-text,.card-title{
    padding-left: 30px;
    padding-right: 30px;
}
.btn{
    margin-bottom: 10px;
}
.card img {
    max-width: 400px;
    min-width: 400px;
    height: auto;
    display: block;
    margin: 10px;
}
.card-img-top{
    padding: 10px;
}

.list-container {
    text-align: center;
}

.centered-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}


.image-container {
    text-align: center;
}

#myImage {
    width: 200px;
    transition: width 0.5s ease;
}

#myImage.expanded {
    width: 400px;
}