.card-img-little{
    width: 150px;
    height: 100px;
}
.shopping-cart{
    background-color: whitesmoke;
    width: 600px;
    margin: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.borde-rojo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px solid red;
    background-color: white;
    border-radius: 10px;
    padding: 10px; /* Añade espacio entre el borde y el contenido si es necesario */
    margin-bottom: 10px; /* Agrega espacio entre los elementos */
}